<h1>Welcome to the crayzee BooKmARQ app!!!</h1>
<h2>HEre r all your crezee BOOKMRQUEWS!!!!!!!!!</h2>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>
<form action = '/bookmarks/new' type = 'get'>
  <input type = 'submit' value = 'Add'>
</form>
<form action = '/bookmarks/update' type = 'get'>
  <input type = 'submit' value = 'Update'>
</form>
<form action = '/bookmarks/delete' type = 'get'>
  <input type = 'submit' value = 'Delete'>
</form>
