<h1>HEreAI you can PUT IN a new Bookqeumrzxxxx!!!!!!!</h1>

<form action='/bookmarks/new' method='post'>
  <p>URL:</p>
  <input type='text' name='url'>
  <p>Title:</p>
  <input type='text' name='title'>
  <input type='submit' value='Submit'>
</form>
