<form action="/bookmarks/update" method="post">
  <% @bookmarks.each do |bookmark| %>
  <input type="radio" value="<%= bookmark.title %>" name="title" id="<%= bookmark.title %>">
  <%=  bookmark.title %> <br>
  <% end %>
  <input type="submit" value="Update">
</form>
